*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

body{
    height: 80vh;
}

body div{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}

h1{
    color: rgb(131, 131, 255);
    text-align: center;
    margin: 10vh;
}

button{
    height: 35px;
    width: 100px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 3em;
    border-color: rgb(135, 153, 235);
    background-color: rgb(131, 131, 255);
}    

button:hover { 
    background-color: rgb(65, 65, 122); 
    transition: 0.4s;
    opacity: 1.0;
    cursor: pointer;
}

#forma{
    margin: 10vh auto;
    box-shadow: inset 0px 0px 83px 15px rgba(0,0,0,0.63);
}

.quadrado {
    background: rgba(131, 131, 255, 0.808);
    width: 300px;
    height: 300px;
}

.retangulo {
    background: rgba(131, 131, 255, 0.808);
    width: 500px;
    height: 300px;
}

.losango {
    transform: rotate(45deg);
    background: rgba(131, 131, 255, 0.808);
    width: 300px;
    height: 300px;
}

.circulo {
    background: rgba(131, 131, 255, 0.808);
    border-radius: 50%;
    width: 300px;
    height: 300px;
}